In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Top 50 Fast-Food Chains in USA.csv")

In [3]:
data.head(15)

,Fast-Food Chains,U.S. Systemwide Sales (Millions - U.S Dollars),Average Sales per Unit (Thousands - U.S Dollars),Franchised Stores,Company Stores,2021 Total Units,Total Change in Units from 2020
0,Arby’s,4462,1309,2293,1116,3409,40
1,Baskin-Robbins,686,296,2317,0,2317,102
2,Bojangles,1485,1924,496,277,773,15
3,Burger King,10033,1470,7054,51,7105,24
4,Carl’s Jr.,1560,1400,1011,47,1058,-21
5,Checkers/Rally’s,931,1145,568,266,834,-13
6,Chick-fil-A,16700,6100,2650,82,2732,155
7,Chipotle,7547,2641,0,2966,2966,198
8,Church’s Chicken,776,870,731,161,892,-13
9,Culver’s,2489,3099,831,6,837,55
10,Dairy Queen,4494,1036,4337,2,4339,-22
11,Del Taco,931,1551,306,294,600,4
12,Domino's,8641,1317,6185,375,6560,205
13,Dunkin',10416,1127,9244,0,9244,161
14,El Pollo Loco,973,2000,292,189,481,1

In [4]:
data.isnull().sum()

Fast-Food Chains                                    0
U.S. Systemwide Sales (Millions - U.S Dollars)      0
Average Sales per Unit (Thousands - U.S Dollars)    0
Franchised Stores                                   0
Company Stores                                      0
2021 Total Units                                    0
Total Change in Units from 2020                     0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Fast-Food Chains                                  50 non-null     object
 1   U.S. Systemwide Sales (Millions - U.S Dollars)    50 non-null     int64
 2   Average Sales per Unit (Thousands - U.S Dollars)  50 non-null     int64
 3   Franchised Stores                                 50 non-null     int64
 4   Company Stores                                    50 non-null     int64
 5   2021 Total Units                                  50 non-null     int64
 6   Total Change in Units from 2020                   50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB

In [6]:
data = data.astype({col: 'int32' for col in data.select_dtypes('int64').columns})

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Fast-Food Chains                                  50 non-null     object
 1   U.S. Systemwide Sales (Millions - U.S Dollars)    50 non-null     int32
 2   Average Sales per Unit (Thousands - U.S Dollars)  50 non-null     int32
 3   Franchised Stores                                 50 non-null     int32
 4   Company Stores                                    50 non-null     int32
 5   2021 Total Units                                  50 non-null     int32
 6   Total Change in Units from 2020                   50 non-null     int32
dtypes: int32(6), object(1)
memory usage: 1.7+ KB